/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.openlayers-tooltip-name a {
background-color: black;
padding: 5px;
color: red;
}


button,input[type="submit"], input[type="button"],
.contactlink a,
 a.snyggknapp
{
    background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

text-transform: uppercase;
font-size:12px;
color:#5C5C5C;
padding: 8px;
border-radius: 14px;
}

.contactlink a ,
a.snyggknapp {
    padding:8px !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
    color: #5C5C5C !important;
    text-decoration: none !important;
    border-color: #DDD #BBB #999 !important;
    border-width: 1px;
    border-style: solid;
}


input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
font-size: 17px;
}

.views-exposed-widget  #edit-submit-slojdklubbar {
    margin-top: 0px;
}

.book-navigation .page-links{
    border-color: silver;
}
.book-navigation .menu {
    padding: 1em 3em 2.5em 3em;
}

.slojdinstruktiontaxonomylinks {
    padding-top: 10px;
}

.slojdinstruktionimage .silverlineimage {
    border-width: 1px;
    border-color: silver;
    border-style: solid;
}


.slojdklubbinramning {
    background-color: white;
margin-left: -24px !important;
padding-right: 46px;
border-width: 1px;
border-color: silver;
border-style: solid;
width: 100%;
}

#edit-circle-wrapper label {
    text-transform:uppercase;
}

.slojdklubbinramning .view-filters,
.slojdklubbinramning .field-name-field-geo,
.slojdklubbinramning .view-content {
    padding-top: 20px;
}



.slojdinstruktionwrapper {
    text-align: left;
    margin: 0px auto;
    padding: 0px;
    border:0;
    padding-bottom: 20px;
    padding-top: 12px;
}

.slojdinstruktionimage {
    float: left;
}
.slojdinstruktionbody {
    float: right;
    width: 55%;
}

.slojdinstruktionfooter {
    clear:both;
    height: 20px;
}

.navigationwrapper {
    text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;

}
.navigationleft {
    float: left;
	width: 200px;
        padding:10px;
}
.navigationcentre {
    float: left;
	width: 400px;
}
.navigationright {
    float: right;
    padding:10px;
    padding-right: 70px;
}

.node-slojdinstruktion {
 padding-bottom: 40px;   
}

.ui-dialog .ui-dialog-content {
    overflow: visible;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
    padding: 1px;
}

a.ui-state-hover {
    border: 0px !important;
    background: none !important;
}

.slojdtitle {
    color: #1C79CC;
}

.slojdinstruktionimage {
    float:left; 
    padding-right: 32px;
}

.zone-branding a {
 text-decoration:none;  
  color: #5c5c5c;
}

/* Top menu main */
.main-menu li a {
  color: #5c5c5c;
  text-decoration:none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
/*  text-transform:uppercase;*/
}

.main-menu li {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: silver;
  padding-top: 15px !important;
  padding-bottom: 14px !important;
  padding-left: 0em !important;
  padding-right: 0em !important;
}

.main-menu li.last {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: silver;
 }

#main-menu.inline li {
  margin-right: 0px !important;
}

.main-menu li.active-trail  a {
background-color: #f2f2f2;
color: black;
}

.main-menu li a:hover {
background-color: #E73400;
color: white;
}
/* /Top menu main */

.maincontent {
  min-height: 300px;
  background-color: #f2f2f2;
  padding-left: 24px;
  padding-right: 24px;
}


.extracontent {
  background-color: #f2f2f2;
}


.innerheaderfirst {
  min-height: 50px;
  padding-top: 8px;
}
.innerheadersecond {
  min-height: 50px;
}
.innerheadermenu {
  min-height: 28px;
}




/* Login block at top */
#user-login-form div {
margin: 0 5px 0 0;
font-size: 95%;
/*float: left;*/
}
#user-login-form label, #user-login-form input {
/*float: left;*/
margin-right: 10px;
}
#user-login-form .form-required {
display: none;
}
#user-login-form .item-list ul li {
float: left;
margin: 0 15px 0.25em 0;
margin-right: 15px;
padding: 0;
list-style-type: none;
}
#block-user-login {
margin-top: 2px;
}
#block-user-login h2 {
display: none;
}
.block-login .form-item {
  float:left;
}


.views-field-field-image , .views-field-field-instructionimage{
  width: 90%;
  margin: auto;
  border-color: 
  silver;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  margin-top: 5px;
  min-height: 120px;
}


/*
  Mina sidor
*/
.view-slojdprojekt .jcarousel-container-horizontal,
.view-flag-bookmarks .jcarousel-container-horizontal{
  padding-bottom: 24px;
  margin-bottom: 24px;
  }

.view-slojdprojekt .jcarousel-item ,
.view-flag-bookmarks .jcarousel-container-horizontal {
  /*min-height: 180px;*/
}


.profile h3 {
  border-bottom: none;
  padding-left: 15px;
  padding-top: 15px;
}

.profile .loggedinfriend {
    border: none;
  padding-left: 15px;
}

.profile .numberofmessagestitle {
/*    float:left;*/
}
.profile .numberofmessages {
    float:left;
    padding: 21px;
}

.profile h3 span {
    padding-left: 10px;
}

/*
 Logged in friends
*/
.loggedinfriend {
  color: #EF3C06;
  padding:5px;
  border-left-width:1px;
  border-style:solid;
  border-color:silver
}

.loggedinfriendicon {
  float:left;
  width: 16px;
  height: 16px;
  background-image: url('../images/friend_online.jpg');
  margin-right:10px;
  margin-left:10px;
}
.loggedinfriendname  {
  float:left;
  margin-right:10px;
}

.loggedinfriendname a, .views-field-title a  {
  font-weight: bold;
  color: #EF3C06;
  text-decoration:none;
}

.view-privata-meddelanden .views-field-title a {
  color: black;
}

.loggedinfriendstaricon {
  float:left;
  width: 16px;
  height: 16px;
  background-image: url('../images/friends_star.jpg');
}

.loggedinfriendmessage {
  margin:auto;
  background-repeat: no-repeat; 
  width: 16px;
  margin-top: 5px;
  clear:both;
  height: 16px;
  background-image: url('../images/friends_message.jpg');  
}

.loggedinfriendmessage a {
  text-decoration:none;
  width: 20px;
}
/*
 /Logged in friends
*/

/*
  Content blocks
*/
.silverline {
  border-color: silver;
  border-style:solid;
  border-width: 1px;
  background-color:white;
  padding: 6px;
  padding-bottom: 24px;
  margin-bottom: 20px;
  margin-left: -24px;
  margin-right: -24px;
}



.loadmessage {
      min-height: 180px;
      margin:auto;
      margin-top: 30px;
      margin-left: 360px;
      color: #EF3C06;
}

#block-forum-active ul li {
  float:left;
  width: 15em;
}

.block-inspirationskarussel-block-1 {
 border-color: silver;
  border-style:solid;
  border-width: 1px;
  background-color:white;
  margin-left: -24px;
  margin-right: -24px;
}

.block-inspirationskarussel-block-1 .block-inner {
  padding: 20px;
}

/* Empty block used as a space filler */
.block-16 {
  background-color: white;
  height: 24px;
  margin-left: -24px;
  margin-right: -24px;
}


.region-footer-first-inner a {
  text-decoration: none;
  color: #E73400;
}

.region-footer-first {
  margin-top:24px;
}

.region-footer-first-inner {
   background-color: #f2f2f2;
   padding: 24px;
   margin-right: -48px;
}

.region-footer-second-inner {
  padding-left:25px;
}

/* =Footer
---------------------------------------------------------------------------------------------------------------------------------- */
#footer-100 {clear: both; height: 225px; width: 945px; margin: 0 auto 40px; padding:0; color: #000; font-size: 11px; position: relative}
#footer-100 .container{padding: 0 0; background: #fff; height: 207px}
    #footer-100 #footer-logo{position: absolute; width: 126px; height: 83px; display: block; top:26px; left:32px;}
    
    #footer-100 .external-panel{background:url('../images/sep.png') repeat-x; width: 745px; float: right; padding:3px 0; margin: 26px 32px 0 0}
    #footer-100 .external-panel ul{margin: 0; list-style: none; background:url('../images/sep.png') repeat-x left bottom; overflow: hidden; height: 153px}
    #footer-100 .external-panel li{float: left; width: 77px; text-align: center; margin-left: 4px}
    #footer-100 .external-panel li.info{width: 160px; text-align: left; padding: 34px 15px 10px 10px; margin-left: 0;}
        #footer-100 .info h5{font:bold 11px/15px "Arial", sans-serif; maargin: 0}
        #footer-100 .info p{font:normal 11px/15px "Arial", sans-serif; margin: 0; padding: 0}
        #footer-100 li a{font-size: 11px; font-weight: bold; text-decoration:underline; display: block; background: #fff url('../images/footer-100-logo-panel.png') 0 0 no-repeat; height: 60px; line-height: 16px; padding: 90px 0 0;
        transition:background-color .2s linear;
        -webkit-transition:background-color .2s linear;
        -moz-transition:background-color .2s linear;}
        #footer-100 li a:hover{background-color: #daf4ff; text-decoration: none}
            #footer-100 li .a1{background-position: 19px 31px}
            #footer-100 li .a2{background-position: -65px 31px}
            #footer-100 li .a3{background-position: -148px 31px}
            #footer-100 li .a4{background-position: -235px 31px}
            #footer-100 li .a5{background-position: -319px 31px}
            #footer-100 li .a6{background-position: -395px 31px}
            #footer-100 li .a7{background-position: -471px 31px}
        
    #footer-100 .copyright, #footer-100 .shr{color: #fff; font-size: 11px; padding: 4px 16px}
        #footer-100 .copyright{text-transform: uppercase; float: left; font-size: 10px}
        #footer-100 .shr{float:right; font-family: Georgia, serif}
        
    #footer-100 li.nomargin{margin: 0}  

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: transparent;
}

.rotatinglogo {
  height:138px;
}

.navigation ul.menu li {
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom-color:silver;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

ul.menu li ul li {
  border:none;
}

ul.menu li a {
  color: #EF3C06;
  text-decoration: none;
}

ul.action-links li {
  list-style: none !important;
}

.taxonomiblock {
  padding-bottom: 40px;
}

.taxonomisidablock {
    min-height: 400px;
}

.taxonomigrid  table {
  border:none;
}

.taxonomigrid {
  border: 1px solid silver;
  background-color:white;
}

.taxonomigrid .views-field-field-instructionimage {
  max-width:153px;
}

.taxonomigrid .views-field-title {
  margin: auto;
  text-align: center;
}

.taxonomisidacontent img {
    float: right;
    padding: 6px;
}

.taxonomisidacontent {
    width:800px;
    padding-bottom: 40px;
}

.taxonomisidacontent h2{
    padding-top: 20px;
}

.taxonomisidabuttons {
    width:800px;
    padding-top: 40px;
}


.block-loggedinusers .block-title {
  font-size: 30px;
  padding-left: 16px;
  font-weight: normal;
  letter-spacing: 0em;
}

.showalllink {
  float:right;
  padding-right:20px;
  padding-top: 12px;
}

li.pager-next a,
li.pager-previous a,
li.pager-last a,
li.pager-first a,
li.pager-item a,
.showalllink a {
  color: #EF3C06;
  text-decoration: none;
  font-weight:bold;
}




.pagetitle {
  color: #177DCE;
  font-size: 30px;
}

.slojdkorgentitle {
   font-size: 30px;
   padding-left:17px;
}

.slojdkorgenbody {
   padding-left:17px;
   padding-bottom: 10px;
   padding-top: 10px;
}

/**
 *Popup
 **/
#simple-dialog-container .maincontent {
  background-color: white;
}

.ui-icon {
  width: 83px !important;
  height: 33px !important;  
}

.ui-icon-closethick {
  background-position: 0px 0px !important;
}

.ui-dialog .ui-dialog-titlebar {
  padding-top: 1.5em !important;
}

.ui-dialog-titlebar-close {
  width: 83px !important;
  height: 33px !important;
}
.ui-dialog-titlebar-close .ui-icon{
    /* must be changed */
  background-image: url(../images/close_button.png);
}
.ui-dialog-title {
    visibility: hidden;
}

.ui-corner-all {
  -moz-border-radius: 0px;
  border-radius: 0px;
  
}

.sparafavoritknapp {
    width: 170px;
    background: #DDD url(../images/favorite_button.png) no-repeat;
    border: 0px;
}

.ui-widget-header {
  border: none;
  background: none;
}

.ui-dialog-titlebar {
  padding-bottom: 1.5em;  
}

.book-navigation .menu {
  border-width: 0px;
}


.book-navigation .menu ul {
  list-style-type: none;
  border-width: 0px;
}
.book-navigation .menu li.leaf {
  float: left;
  list-style-type: none;
  list-style-image: none;
}

#edit-comment-body-und-0-format {
  display: none;
}

.field-name-field-teknik .field-label  ,
.field-name-field-verktyg .field-label  ,
.field-name-field-material .field-label
{
  text-transform: uppercase;
}


.field-name-field-teknik a ,
.field-name-field-material a ,
.field-name-field-verktyg a ,
.field-name-field-teknikintresse a ,
.field-name-field-materialintresse a ,
.field-name-field-verktygsintresse a {

  color: #EF3C06;
    text-decoration: none;
}

.field-name-field-teknikintresse .field-item  ,
.field-name-field-verktygsintresse .field-item  ,
.field-name-field-materialintresse .field-item {
    font-size: x-large;
    float: left;
    margin-left: 20px;
}


/* Flag buttons */
.flag {
  text-transform: uppercase;
}

.view-flag-bookmarks .view-empty p {
    margin-left: 18px;
}